<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrrd.catcate.mapper.CatHealthRecordsMapper">

    <resultMap id="CatHealthRecordsMap" type="com.zrrd.catcate.entity.CatHealthRecords" >
        <id column="id" property="id" />
        <result column="cat_id" property="catId" />
        <result column="check_date" property="checkDate" />
        <result column="health_status" property="healthStatus" />
        <result column="symptoms" property="symptoms" />
        <result column="treatment" property="treatment" />
        <result column="checker" property="checker" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        select id, cat_id, check_date, health_status, symptoms, treatment, checker, remark, create_time, update_time from cat_health_records
    </sql>
    <select id="selectCatHealthRecordsNoNull" parameterType="map" resultMap="CatHealthRecordsMap">
        <include refid="Base_Column_List"/>
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="catId != null and catId != ''">and cat_id = #{catId}</if>
            <if test="checkDate != null">and check_date = #{checkDate}</if>
            <if test="healthStatus != null and healthStatus != ''">and health_status = #{healthStatus}</if>
            <if test="symptoms != null and symptoms != ''">and symptoms like concat('%',#{symptoms},'%')</if>
            <if test="treatment != null and treatment != ''">and treatment = #{treatment}</if>
            <if test="checker != null and checker != ''">and checker like concat('%',#{checker},'%')</if>
            <if test="remark != null and remark != ''">and remark = #{remark}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
        </where>
        ORDER BY check_date DESC, create_time DESC
        limit  #{offset}, #{pageSize}
    </select>
    <select id="countCatHealthRecordsNoNull" parameterType="map" resultType="int">
        select count(*) from cat_health_records
        <where>
            <if test="catId != null and catId != ''">and cat_id = #{catId}</if>
            <if test="checkDate != null">and check_date = #{checkDate}</if>
            <if test="healthStatus != null and healthStatus != ''">and health_status = #{healthStatus}</if>
            <if test="symptoms != null and symptoms != ''">and symptoms like concat('%',#{symptoms},'%')</if>
            <if test="checker != null and checker != ''">and checker = #{checker}</if>
        </where>
    </select>
</mapper>
