<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrrd.catcate.mapper.RolesMapper">
    <resultMap id="BaseResultMap" type="com.zrrd.catcate.entity.Roles">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="is_active" jdbcType="TINYINT" property="isActive" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        select id, role_name, role_code, description, is_active, create_time, update_time from roles
    </sql>
    <select id="selectRolesNoNull" parameterType="java.util.Map" resultMap="BaseResultMap">
        <include refid="Base_Column_List"/>
        <where>
            <if test="id != null and id !=''">and id = #{id}</if>
            <if test="roleName != null and roleName !=''">and role_name like concat('%',#{roleName},'%')</if>
            <if test="roleCode != null and roleCode !=''">and role_code like concat('%',#{roleCode},'%')</if>
            <if test="description != null and description !=''">and description = #{description}</if>
            <if test="isActive != null and isActive !=''">and is_active = #{isActive}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
        </where>
        limit #{offset}, #{pageSize}
    </select>
    <select id="countRolesNoNull" parameterType="java.util.Map" resultType="int">
        select count(*) from roles
        <where>
            <if test="roleName != null and roleName !=''">and role_name = #{roleName}</if>
            <if test="roleCode != null and roleCode !=''">and role_code = #{roleCode}</if>
            <if test="description != null and description !=''">and description = #{description}</if>
            <if test="isActive != null and isActive !=''">and is_active = #{isActive}</if>
        </where>
    </select>
</mapper>
