<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrrd.catcate.mapper.UsersMapper">
    <resultMap id="BaseResultMap" type="com.zrrd.catcate.entity.Users">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="UsersList">
        select id,
               username,
               password,
               email,
               phone,
               role,
               nickname,
               avatar,
               status,
               last_login_time,
               create_time,
               update_time
        from Users
    </sql>
    <select id="selectUsersNoNull"
            parameterType="map"
            resultMap="BaseResultMap">
        <include refid="UsersList"/>
        <where>
            <if test="id != null and id !=''">and id = #{id}</if>
            <if test="username != null and username !=''">and username like concat('%',#{username},'%')</if>
            <if test="password != null and password !=''">and password = #{password}</if>
            <if test="email != null and email !=''">and email = #{email}</if>
            <if test="phone != null and phone !=''">and phone like concat('%', #{phone} , '%')</if>
            <if test="role != null and role !=''">and role = #{role}</if>
            <if test="nickname != null and nickname !=''">and nickname = #{nickname}</if>
            <if test="avatar != null and avatar !=''">and avatar = #{avatar}</if>
            <if test="status != null and status !=''">and status = #{status}</if>
            <if test="lastLoginTime != null">and last_login_time = #{lastLoginTime}</if>
            <if test="createTime != null">and create_time = #{createTime}</if>
            <if test="updateTime != null">and update_time = #{updateTime}</if>
        </where>
        limit #{offset}, #{pageSize}
    </select>
    <select id="countUsersNoNull"
            parameterType="map"
            resultType="int">
        select count(*) from Users
        <where>
            <if test="username != null and username !=''">and username = #{username}</if>
            <if test="phone != null and phone !=''">and phone = #{phone}</if>
            <if test="role != null and role !=''">and role = #{role}</if>
            <if test="status != null and status !=''">and status = #{status}</if>
        </where>
    </select>
</mapper>
